<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hashmybag">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />


    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Creates a custom permission so only this app can receive its messages. -->
    <permission
        android:name="com.hashmybag.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.com.hashmybag.permission.C2D_MESSAGE" />

    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/hashmybag_big_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:name=".AppApplication"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <meta-data
                    android:name="CLOUDINARY_URL"
                    android:value="cloudinary://297567471846868:L6s4Woog4GKQmzMcG52lvoMOFFg@dk01turm1" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".util.FusedLocationTracker"/>


        <receiver android:name=".servercommunication.InternetConnectionState">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".servercommunication.MessageReciever">
            <intent-filter>
                <action android:name="com.hashmybag.MessageRecieve" />
            </intent-filter>
        </receiver>


        <activity
            android:name=".OtpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.paytm.pgsdk.PaytmPGActivity"
            android:configChanges="keyboardHidden|orientation|keyboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AllFragmentsActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="stateVisible">
            <intent-filter android:label="@string/filter_title_viewgizmos">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://www.example.com/gizmos” -->
                <data
                    android:host="www.hashmybag.com"
                    android:pathPrefix="/open"
                    android:scheme="http" />
                <!-- note that the leading "/" is required for pathPrefix-->
                <!-- Accepts URIs that begin with "example://gizmos” -->
                <data
                    android:host="mybag"
                    android:scheme="hashmybag" />

            </intent-filter>
        </activity>
        .
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_map_key" />

        <activity
            android:name=".StoreDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChatImageView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChatActivity"
            android:configChanges="keyboardHidden|orientation|keyboard"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".NearByStore"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WebActivity"
            android:screenOrientation="portrait" />

        <!--
           GCM Receiver
       -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.gnirt69.gcmexample" />
            </intent-filter>
        </receiver>

        <!--
            GCM Receiver Service
        -->
        <service
            android:name=".pushnotifications.GCMPushReceiverService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <!--
            GCM Registration Intent Service
        -->
        <service
            android:name=".pushnotifications.GCMRegistrationIntentService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <!--
            Update Location for Notification Every time
        -->
       <!-- <service
            android:name=".pushnotifications.AppUpdateLocationService"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="true" />-->
        <!--<receiver android:name=".pushnotifications.AlertReciever">
            <intent-filter>
                <action android:name="com.hashmybag.locationalert" />
            </intent-filter>
        </receiver>-->

    </application>


</manifest>